.charsheet .width-10   { width: 10px;  }
.charsheet .width-20   { width: 20px;  }
.charsheet .width-30   { width: 30px;  }
.charsheet .width-40   { width: 40px;  }
.charsheet .width-50   { width: 50px;  }
.charsheet .width-60   { width: 60px;  }
.charsheet .width-70   { width: 70px;  }
.charsheet .width-80   { width: 80px;  }
.charsheet .width-85   { width: 85px;  }
.charsheet .width-90   { width: 90px;  }
.charsheet .width-95   { width: 95px;  }
.charsheet .width-100  { width: 100px; }
.charsheet .width-105  { width: 105px; }
.charsheet .width-110  { width: 110px; }
.charsheet .width-120  { width: 120px; }
.charsheet .width-130  { width: 130px; }
.charsheet .width-140  { width: 140px; }
.charsheet .width-145  { width: 145px; }
.charsheet .width-150  { width: 150px; }
.charsheet .width-160  { width: 160px; }
.charsheet .width-170  { width: 170px; }
.charsheet .width-180  { width: 180px; }
.charsheet .width-190  { width: 190px; }
.charsheet .width-200  { width: 200px; }
.charsheet .width-210  { width: 210px; }
.charsheet .width-220  { width: 220px; }
.charsheet .width-230  { width: 230px; }
.charsheet .width-240  { width: 240px; }
.charsheet .width-250  { width: 250px; }
.charsheet .width-255  { width: 255px; }
.charsheet .width-260  { width: 260px; }
.charsheet .width-280  { width: 280px; }
.charsheet .width-290  { width: 290px; }
.charsheet .width-295  { width: 295px; }
.charsheet .width-300  { width: 300px; }
.charsheet .width-310  { width: 310px; }
.charsheet .width-320  { width: 320px; }
.charsheet .width-350  { width: 350px; }
.charsheet .width-360  { width: 360px; }
.charsheet .width-380  { width: 380px; }
.charsheet .width-400  { width: 400px; }
.charsheet .width-450  { width: 450px; }
.charsheet .width-500  { width: 500px; }
.charsheet .width-650  { width: 650px; }

.charsheet textarea {
  max-height: 60px;
}

.charsheet .lines{
  display: block;
}

.charsheet .cell{
  display: table-cell;
}

.charsheet .valign{
  vertical-align: middle;
}

.charsheet .top{
  vertical-align:top;
}

.charsheet span{
  font-weight: bold;
}

.charsheet .border0{
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(208, 208, 208);
  border-radius: 5px;
}

.charsheet .border1{
  padding: 0px;
  margin: 0;
  border: 1px solid rgba(208, 208, 208); 
}

.centre{  
  text-align: center;
}

button[type=action].sheet-d6-dice::before {
  font-family: 'dicefontd6';
  content: 'l';
}

.button:hover {
  background-color: rgb(159, 159, 159);
}

.left {
  text-align: left;
}

.row {
  display: table;
  color: blue;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.charsheet .rowitem {
  display: inline-block;
}


.sheet-essence-section {
display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 810px;
  grid-template-areas:"strength speed smarts social";
  grid-gap: 5px;

}

.sheet-strength-section {
display: grid;
  grid-template-columns: 180px;
  grid-template-rows: 50px 140px 140px 140px 140px 140px;
  grid-template-areas:	"strength-essence"
						"athletics" 
						"brawn"
						"conditioning"
						"intimidtaion"
						"might";
  grid-gap: 5px;
}

.sheet-specilization-section {
display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 28px 28px 28px 28px;
  grid-template-areas:	"die-val"
						"spec-1"
						"spec-2"
						"spec-3";
grid-gap: 5px;
}


div.sheet-block{
  display: grid;
  justify-content: center;
  padding: 5px;
  border: 3px solid #371e58;
  border-radius: 15px;
  background-color: #dcb3d4
}

div.sheet-block-2{
  display: grid;
  justify-content: center;
  border: 2px solid #371e58;
  border-radius: 10px;
  background-color: #ffffff
}

div.sheet-block-3{
  display: grid;
  justify-content: center;
  padding: 5px;
}

div.sheet-block-4{
  display: grid;
  justify-content: center;
  padding: 2px;
  border: 1px solid #371e58;
  border-radius: 10px;
  background-color: #f1f4ff
}

div.sheet-strength{
	grid-area: strength;
}
div.sheet-speed{
	grid-area: speed;
}
div.sheet-smarts{
	grid-area: smarts;
}
div.sheet-social{
	grid-area: social;
}

div.sheet-die-val{
	grid-area: die-val;
	justify-content: left;
}
div.sheet-spec_1{
	grid-area: spec_1;
}
div.sheet-spec_2{
	grid-area: spec_2;
}
div.sheet-spec_3{
	grid-area: spec_3;
}



div.sheet-strength-essence{
	grid-area: strength-essence;
}
div.sheet-athletics{
	grid-area: athletics;
}
div.sheet-brawn{
	grid-area: brawn;
}
div.sheet-conditioning{
	grid-area: conditioning;
}
div.sheet-intimidtaion{
	grid-area: intimidtaion;
}
div.sheet-might{
	grid-area: might;
}


.sheet-grid-section{
  display: grid;
  grid-template-columns: 400px 200px 200px;
  grid-template-rows:  60px 150px 150px 150px;
  grid-template-areas:"namelvl hp    hp "
                      "skills  stat  stat "
                      "skills  equip  izzy"
                      "notes   equip  izzy";
  grid-gap: 5px;
}
