/*GNU/CODE*/
#the-whole-enchilada textarea {
	resize: none;
	width: 90%;
	height: 55px;
	margin-bottom: 0px;
}

#the-whole-enchilada .wider-text-box {
	resize: none;
	width: 98%;
	height: 150px;
	margin-bottom: 0px;
}

#the-whole-enchilada label {
	color: black;
	margin: 0px;
}

button {
	font-weight: bold;
}

#the-whole-enchilada input {
	height: 20px;
}

#the-whole-enchilada select {
	margin-bottom: 0px;
}

#the-whole-enchilada {
	width: 800px;
	box-sizing: border-box;
}
	
#the-whole-enchilada .text-size-small {
    font-size: 12px;
}

#the-whole-enchilada .text-padding-none {
	padding-right: 0px;
}

#the-whole-enchilada .text-margin-none {
	margin: 0px;
}

#the-whole-enchilada .horizontal-margin-5px {
	margin-left: 5px;
	margin-right: 5px;
}

#the-whole-enchilada .two-char-text-box {
	width: 24px;
}

.padding-5-px {
	padding: 5px;
}

.margin-bottom-5px {
	margin-bottom: 5px;
}

.sheet-white-text {
	color: white;
}

.sheet-font-big{
	font-size:20px;
}

.sheet-text-area {
   resize: none;
}

.item-width-test{
	width: 160px;
}

.centered-text {
	text-align: center;
	color: blue;
}

.die-dropdown {
  font-size: 10px;
  height: 24px;
  width: 50px;
}

.rounded-top-right {
	border-top-right-radius: 15px;
}

.rounded-bottom-right {
	border-bottom-right-radius: 15px;
}

.outer-grid-item-border-background {
  border: 3px solid #371e58;
  border-radius: 15px;
  background-color: #dcb3d4;
}

.inner-grid-item-border-background { 
  border: 2px solid #371e58;
  border-radius: 10px;
  background: white;
}
/* SKILL GRID AND ELEMENTS!!!*/
.skill-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 1fr; 
  align-items: center;
  grid-gap: 5px; /*Put some space in between the grid lines*/
  padding: 3px; /*Space elements away from the grid lines*/
}

.skill-grid-border {
  border: 2px solid #371e58;
  border-radius: 10px;
  background: white;
}

.skill-grid-element {
	height: fit-content;
	/*border: 1px solid red;*/
}

.specialization-name {
	justify-self: center;
}

.specialization-box{
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
    height: 16px;
    width: 90%;
}
/*ESSENCE DEFENSES AND ELEMENTS*/
.essence-defense-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 1fr 1fr; 
  align-items: center;
  justify-items: center;
  padding: 5px;
}

/*ESSENCE COULUMN GRID*/
.essence-coulmn-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
	
	justify-content: center;
	grid-gap: 5px; /*Put some space in between the grid lines*/
	padding: 5px;
	border: 3px solid #371e58;
	border-radius: 15px;
	background-color: #dcb3d4;
}

/*ESSENCE GRID*/
.essence-grid {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	justify-content: center;
	grid-gap: 5px; /*Put some space in between the grid lines*/
	padding: 5px;
}

.essence-header {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: white;
	background: purple;
	border-radius: 15px;
}

/*Sheet header*/
.mlp-sheet-header {
	display: flex;
	gap: 5px;
	border: 3px solid #371e58;
	border-radius: 15px;
}

/*Sheet middle piece*/
.mlp-sheet-basic-info {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 5px;
}

.mlp-sheet-basic-info-photo {
	grid-row: 1 / 3;
}

.mlp-sheet-basic-info-desc {
	grid-column: 2 / 4;
}

.mlp-sheet-padding {
	padding: 3px;
}

.mlp-sheet-border-box-sizing {
	box-sizing: border-box;
}

.basic-info-border{
	border: 1px solid #371e58;
}

/*Grid for health and movement boxes*/
.health-movement-grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
}

.input-width {
	width: 90%;
}

/*Background-grid*/
.char-background-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	grid-gap: 5px; /*Put some space in between the grid lines*/
	padding: 5px;
}

/*Basic Flexbox*/
.basic-flex-box {
	display: flex;
	gap: 5px;
}

.centered-flex-grid-items {
  align-items: center;
}

.vertical-flex {
	flex-direction: column;
}

/*Roll Template Styles*/
.sheet-rolltemplate-skill-die h4 {
	color: black;
	flex: 1 1 auto;
}

.sheet-rolltemplate-skill-die h3 {
	color: black;
}

.sheet-rolltemplate-skill-die .sheet-bad-roll {
	color: red;
}

.sheet-rolltemplate-skill-die .sheet-good-roll {
	color: green;
}

.sheet-rolltemplate-skill-die .sheet-template-container {
	display: flex;
	flex-direction: column;
	padding: 5px;
	border: 2px solid #371e58;
	border-radius: 10px;
	background-color: #dcb3d4;	
}

.sheet-rolltemplate-skill-die .sheet-results{ 
  border: 2px solid #371e58;
  border-radius: 10px;
  background: white;
  display: flex;
  padding: 5px;
}

/*Styling stuff for the tabs*/
/* configure the tab buttons */
.charsheet .sheet-skills,
.charsheet .sheet-perks,
.charsheet .sheet-spellcasting,
.charsheet .sheet-background,
.charsheet .sheet-inventory,
.charsheet .sheet-notes {
    display: none;
}

/* style the active button */
.charsheet .sheet-tabstoggle[value="skills"] ~ div .sheet-button0 {outline: 2px solid #371e58;}
.charsheet .sheet-tabstoggle[value="perks"] ~ div .sheet-button1 {outline: 2px solid #371e58;}
.charsheet .sheet-tabstoggle[value="spellcasting"] ~ div .sheet-button2 {outline: 2px solid #371e58;}
.charsheet .sheet-tabstoggle[value="background"] ~ div .sheet-button3 {outline: 2px solid #371e58;}
.charsheet .sheet-tabstoggle[value="inventory"] ~ div .sheet-button4 {outline: 2px solid #371e58;}
.charsheet .sheet-tabstoggle[value="notes"] ~ div .sheet-button5 {outline: 2px solid #371e58;}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.charsheet .sheet-tabstoggle[value="perks"] ~ div.sheet-perks,
.charsheet .sheet-tabstoggle[value="spellcasting"] ~ div.sheet-spellcasting,
.charsheet .sheet-tabstoggle[value="background"] ~ div.sheet-background,
.charsheet .sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory,
.charsheet .sheet-tabstoggle[value="notes"] ~ div.sheet-notes {
    display: block;
}